<h3>Confirmation</h3>
<%= form_with(model: @question, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :picture_cache %>
  <p>Title:<%= @question.title %></p>
  <p>Content:<%= @question.content %></p>
  <p>Image:<%= image_tag(@question.picture.url, width:"20%") if @question.picture && @question.picture.url %></p>
  <%= form.submit  "Save" %>
<% end %>