<div class="container-fluid">
  
  <%= render "partials/sidebar_left" %>

  <%= render "partials/sidebar_right" %>

  <!-- Modal -->
    <%= render "edit" %>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= image_tag @question.picture.url, width:"100%", alt:"question #{@question.id}" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- end Modal -->

  <div class="middle" style="padding-top: 100px;overflow: auto;">
    <div class="container-fluid">
      <div class="row mb-2">
        <div>
          <h3><%= @question.title %></h3>
          <p>
            Asked <span class="fw-bold me-2">today</span>  
            Viewed <span class="fw-bold">47 times</span>
          </p>
        </div><hr class="mt-2">
        <div class="row">
          <div class="col-sm-1">
            <p class="text-center">
              <a href="#" class="btn"><i class="fas fa-sort-up h3 text-secondary"></i></a><br>
              <span>10</span><br>
              <a href="#" class="btn"><i class="fas fa-sort-down h3 text-secondary"></i></a><br>
              <a href="#" class=""><i class="fas fa-bookmark text-secondary"></i></a>
            </p>
          </div>
          <div class="col-sm-11">
            <p style="text-align: justify;">
              <%= @question.content %><br>
              
              <!-- Button trigger modal -->
              <% if @question.picture.present? %>
                <a class="mt-2 btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Show picture
                </a>
              <% end %>

              <div class="row justify-content-between">
                <div class="col-4">
                  <% if current_user==@question.user %>
                    <a href="#" title="edit question" class="me-2 text-decoration-none text-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                      Edit
                    </a>
                    <%= link_to "Delete", question_path(@question), method: :delete, title:"delete question", class:"me-2 text-decoration-none text-danger", data: {confirm: "This deletion is irreversible. Do you want to continue ?" } %>
                  <% end %>
                </div> 
                <div class="col-4 border rounded-3 p-2" style="background-color: hsl(205deg 46% 92%); width: 30%;">
                  <p class="text-secondary mb-0">asked <%= time_ago_converter(@question.created_at) %> ago</p>
                  <%= image_tag user_picture_is_mounted_or_no(@question.user), width:"40px", alt:"#{@question.user.name}", class:"border border-secondary rounded-3 me-2" %>
                  <a href="#" class="text-decoration-none"><span><%= @question.user.name %></span></a>
                </div>
              </div>
            </p>
            <hr class="mt-2">
            <p class="text-secondary" style="text-align: justify;">
              Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. – <span><a href="#" class="text-decoration-none">user2021</a></span> <em class="text-dark">Jul 20 '18 at 14:54</em> <span>edit delete</span>
            </p>
            <hr class="mt-2">
            <p class="text-secondary" style="text-align: justify;">
              Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. – <span><a href="#" class="text-decoration-none">user99</a></span> <em class="text-dark">Jul 20 '18 at 14:54</em>
            </p>
            <hr class="mt-2">
            <a href="" class="text-decoration-none">Add a comment</a>
          </div>
      </div>
      <p class="fw-bold mt-4">26 Answers</p>
      <div class="row mb-2">
      </div><hr class="mt-2">
      <div class="row">
        <div class="col-sm-1">
          <p class="text-center">
            <a href="#" class="btn"><i class="fas fa-sort-up h3 text-secondary"></i></a><br>
            <span>10</span><br>
            <a href="#" class="btn"><i class="fas fa-sort-down h3 text-secondary"></i></a><br>
            <a href="#" class=""><i class="fas fa-check text-secondary"></i></a>
          </p>
        </div>
        <div class="col-sm-11">
          <p style="text-align: justify;">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab illo natus explicabo quidem eum, omnis nobis commodi ut aperiam aliquid quae cupiditate doloremque provident atque quisquam libero dolorem, nemo dolor. <br>
            <div class="row justify-content-between">
              <div class="col-4">
                <a href="" class="me-2 text-decoration-none text-secondary">Edit</a>
                <a href="" class="me-2 text-decoration-none text-danger">Delete</a>
              </div> 
              <div class="col-4 border rounded-3 p-2" style="background-color: hsl(205deg 46% 92%); width: 30%;">
                <p class="text-secondary mb-0">answered 12 hours ago</p>
                <img src="img/avatar.png" width="40px" alt="" class="border border-secondary rounded-3 me-2">
                <a href="#" class="text-decoration-none"><span>user2021</span></a>
              </div>
            </div>
          </p>
          <hr class="mt-2">
          <p class="text-secondary" style="text-align: justify;">
            Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. – <span><a href="#" class="text-decoration-none">user2021</a></span> <em class="text-dark">Jul 20 '18 at 14:54</em> <span>edit delete</span>
          </p>
          <hr class="mt-2">
          <p class="text-secondary" style="text-align: justify;">
            Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. – <span><a href="#" class="text-decoration-none">user99</a></span> <em class="text-dark">Jul 20 '18 at 14:54</em>
          </p>
          <hr class="mt-2">
          <a href="" class="text-decoration-none">Add a comment</a>
        </div>
      </div>
      <p class="fw-bold mt-4 mb-2">Your Answer</p>
      <form>
        <div class="mb-3">
          <label for="formFile" class="form-label">Choose a picture</label>
          <input class="form-control" type="file" id="formFile">
        </div>
        <div class="mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post Your Answer</button>
      </form>
    </div>
    <hr>
    <!-- footer -->
    <%= render "partials/footer" %>
  </div>

</div>


