<hr class="mt-2">
<% if comment.persisted? %>
  <p class="text-secondary" style="text-align: justify;">
    <%= comment.content %> – <span><a href="<%= user_path(comment.user) %>" class="text-decoration-none"><%= comment.user.name %></a></span> <em class="text-dark"><%= comment.created_at.strftime("%m %b %y à %H:%M") %> </em>
    <% if comment.user == current_user %>
    <span>
      <a href="#" title="edit question" class="me-2 ms-2 text-decoration-none text-secondary" data-bs-toggle="modal" data-bs-target="#commentEdit<%= comment.id %>">
        <%= I18n.t('others.button.edit') %>
      </a>
      <%= link_to I18n.t('others.button.delete'), question_comment_path(comment.question, comment), method: :delete, data: {confirm: "This deletion is irreversible. Do you want to continue ?"}, class:"text-decoration-none text-danger" if comment.question %>
      <%= link_to I18n.t('others.button.delete'), answer_comment_path(comment.answer, comment), method: :delete, data: {confirm: "This deletion is irreversible. Do you want to continue ?"}, class:"text-decoration-none text-danger" if comment.answer %>
    </span>
    <% end %>
  </p>
<% end %>


<div class="modal fade" id="commentEdit<%= comment.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier votre Commentaire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="fw-bold mt-4 mb-2">Votre commentaire</p>
        <% if comment.question %>
          <%= form_with(model: [Question.find(comment.question.id), comment], method: :put) do |form| %>
            <div class="mb-3">
              <%= form.text_area :content, rows:"3", class:"form-control" %>
            </div>
            <%= form.submit "Enrégistrer", class:"btn btn-primary" %>
          <% end %>
        <% else %>
          <%= form_with(model: [comment.answer, comment], method: :put) do |form| %>
            <div class="mb-3">
              <%= form.text_area :content, rows:"3", class:"form-control" %>
            </div>
            <%= form.submit "Enrégistrer", class:"btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>