<h1><%= I18n.t('others.messages.editing_comment') %></h1>

<p class="fw-bold mt-4 mb-2">Votre commentaire</p>
<%= form_with(model: [@question, @comment], local: true) do |form| %>
  <div id="emailHelp" class="form-text text-danger"><%= render "devise/shared/error_messages", resource: @comment %></div>
  <div class="mb-3">
    <%= form.text_area :content, rows:"3", class:"form-control", placeholder:"Ajoutez votre commentaire ici..." %>
  </div>
  <%= form.submit I18n.t('others.button.post_your_comment'), class:"btn btn-primary" %>
<% end %>

