<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top justify-content-center">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/img/lb.jpg" alt="logo" width="100px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">LearnBetter</a>
            </li>
        </ul>
        
        <%= form_tag(questions_path, method: :get, class:"d-flex me-2", style:"width: 100%;") do %>
            <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <i class="fas fa-search"></i>
            </span>
            <%= text_field_tag :quizz,'', placeholder:"Search...", class: 'form-control' %>
            </div>
        <% end %> 

        <% if current_user %>
        <a class="nav-link" aria-current="page" href="<%= user_path(current_user) %>">
          <%= image_tag user_picture_is_mounted_or_no(current_user), class:"rounded-3 border border-dark", style:"width:40px;", title:"#{current_user.name}" if current_user %>
        </a>
        <% end %>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <% if current_user %>
          <li class="nav-item me-2">
            <%= link_to destroy_user_session_path, method: :delete, class:"nav-link", title:"Logout" do %>
              <i class="fas fa-power-off h4"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="<%= conversations_path %>" title="inbox">
              <i class="fas fa-inbox h4"></i>
            </a>
          </li>
          <% else %>
          <li class="nav-item me-2">
            <%= link_to "Register", new_user_registration_path, class:"nav-link btn-outline-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class:"nav-link btn btn-outline-primary" %>
          </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>