<!-- start rigth sidebar -->
<div class="sidebar1" style="padding-top: 100px; overflow: auto;">
  <div class="container-fluid">
      <div class="row m-1">
      <div class="card mb-3" style="max-width: 12rem; padding: 0;">
          <div class="card-header bg-primary text-light">Jobs <span class="badge bg-warning text-dark">new</span></div>
          <div class="card-body text-dark">
          <h5 class="card-title text-primary"><%= Job.last.title if Job.last%></h5>
          <p class="card-text"><%= Job.last.content.truncate(100) if Job.last %></p>
          </div>
      </div>
      </div>
      <div class="row m-1">
        <div class="card p-0" style="width: 12rem;">
            <div class="card-header bg-primary text-light">
            Recent users
            </div>
            <ul class="list-group list-group-flush text-left">
                <% User.order(created_at: :desc).limit(10).each do |user| %>
                <li class="list-group-item text-dark">
                    <a href="<%= user_path(user) %>" class="btn" title="<%= user.name %>">
                        <%= image_tag user.picture.url, width:"25px", height:"25px", class:"rounded-pill me-1" %>  <%= user.name.truncate(10) %> 
                    </a>
                </li>
                <% end %>
            </ul>
        </div>
      </div>
  </div>
</div>
<!-- end rigth sidebar -->