<div class="container-fluid">
  <div style="padding-top: 100px;width: 40%; display: table; margin: 0 auto;">
    <div class="text-center mb-4">
        <img src="/img/logonew.jpeg" alt="logo" width="80px">
    </div>
    <div href="#" class="border border-dark rounded-3 p-4 w-100 mb-4">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <div id="emailHelp" class="form-text text-danger"><%= render "devise/shared/error_messages", resource: resource %></div>
          <%= f.hidden_field :reset_password_token %>

          <div class="mb-3">
            <%= f.label :password, "New password", class:"form-label" %>
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control", ariaDescribedby:"passwordHelp" %>
            <div id="passwordHelp" class="form-text">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, "Confirm new password", class:"form-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", ariaDescribedby:"passwordHelp" %>
          </div>
          <div>
              <%= f.submit "Change my password", class:"btn btn-primary w-100" %>
          </div>
        <% end %>
    </div>
  </div>
</div>

