<div class="row mb-2"></div><hr class="mt-2">
<div class="row">
  <div class="col-sm-1">
    <p class="text-center">
      <a href="#" class="btn"><i class="fas fa-sort-up h3 text-secondary"></i></a><br>
      <span>10</span><br>
      <a href="#" class="btn"><i class="fas fa-sort-down h3 text-secondary"></i></a><br>
      <a href="#" class=""><i class="fas fa-check text-secondary"></i></a>
    </p>
  </div>
  <div class="col-sm-11">
    <p style="text-align: justify;">
      <%= answer.content %> <br>

      <% if answer.picture.present? %>
        <a href="<%= answer.picture.url %>" class="nav-link" target="_blank" >
          Show picture in another tab
        </a>
      <% end %>

      <div class="row justify-content-between">
        <div class="col-4">
          <% if current_user==answer.user %>
            <%= link_to "Edit", edit_question_answer_path(answer.question, answer), title:"edit answer", class:"me-2 text-decoration-none text-secondary" %>
            <%= link_to "Delete", question_answer_path(answer.question, answer), method: :delete, title:"delete answer", class:"me-2 text-decoration-none text-danger", data: {confirm: "This deletion is irreversible. Do you want to continue ?" } %>
          <% end %>
        </div> 
        <div class="col-4 border rounded-3 p-2" style="background-color: hsl(205deg 46% 92%); width: 30%;">
          <p class="text-secondary mb-0">answered <%= time_ago_converter(answer.created_at) %> ago</p>
          <%= image_tag user_picture_is_mounted_or_no(answer.user), width:"40px", alt:"#{answer.user.name}", class:"border border-secondary rounded-3 me-2" %>
          <a href="#" class="text-decoration-none"><span><%= answer.user.name %></span></a>
        </div>
      </div>
    </p>
    
    <%= render answer.comments %>

    <hr class="mt-2">
    <a style="cursor: pointer" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#addCommentAnswer<%= answer.id %>">Add a comment</a>
    
    
    <div class="modal fade" id="addCommentAnswer<%= answer.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="fw-bold mt-4 mb-2">Your Answer</p>
              <%= form_with(model: [answer, answer.comments.build], local: true) do |form| %>
                <div class="mb-3">
                  <%= form.text_area :content, rows:"3", class:"form-control" %>
                </div>
                <%= form.submit "Post Your Comment", class:"btn btn-primary" %>
              <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>