<div class="row mb-2"></div><hr class="mt-2">
<div class="row">
  <div class="col-sm-1">
    <p class="text-center">
      
      <%= link_to vote_answer_answer_path(answer, note: 1), method: :post, class:"btn", title:"Vote up" do %>
        <i class="fas fa-sort-up h3 text-secondary"></i>
      <% end %><br>

      <span> <%= link_to "#{answer.votes.sum(:note)}", vote_answer_answer_path(answer, note: 0), method: :post, class:"text-decoration-none text-dark", title:"Cancel vote" %></span><br>
      
      <%= link_to vote_answer_answer_path(answer, note: -1), method: :post, class:"btn", title:"Vote down" do %>
        <i class="fas fa-sort-down h3 text-secondary"></i>
      <% end %><br>

      <% if current_user == @question.user %>
        <%= link_to set_good_answer_question_path(@question, answer_id: answer.id), method: :patch, data: {confirm: "Êtes-vous sûr de vouloir enrégistrer cette réponse comme correcte ?"} do %>
          <% if @question.solved and @question.answer_id == answer.id %>
            <i class="fas fa-check h3 text-success"></i>
          <% else %>
            <i class="fas fa-check text-secondary"></i>
          <% end %>
        <% end %>
      <% else %>
        <% if @question.solved and @question.answer_id == answer.id %>
          <i class="fas fa-check h3 text-success"></i>
        <% end %>
      <% end %>
    </p>
  </div>
  <div class="col-sm-11">
    <p style="text-align: justify;">
      <%= answer.content %> <br>

      <% if answer.picture.present? %>
        <a href="<%= answer.picture.url %>" class="nav-link" target="_blank" >
          <%= I18n.t('others.button.show_picture') %>
        </a>
      <% end %>

      <div class="row justify-content-between">
        <div class="col-4">
          <% if current_user==answer.user %>
            <%= link_to I18n.t('others.button.edit'), edit_question_answer_path(answer.question, answer), title:"edit answer", class:"me-2 text-decoration-none text-secondary" %>
            <%= link_to I18n.t('others.button.delete'), question_answer_path(answer.question, answer), method: :delete, title:"delete answer", class:"me-2 text-decoration-none text-danger", data: {confirm: "Cette action est irréversible. Voulez-vous vraiment continuer ?" } %>
          <% end %>
        </div> 
        <div class="col-4 border rounded-3 p-2" style="background-color: hsl(205deg 46% 92%); width: 30%;">
          <p class="text-secondary mb-0"><%= I18n.t('others.messages.answered_ago') %> <%= time_ago_converter(answer.created_at) %></p>
          <%= image_tag user_picture_is_mounted_or_no(answer.user), width:"40px", alt:"#{answer.user.name}", class:"border border-secondary rounded-3 me-2" %>
          <a href="<%= user_path(answer.user) %>" class="text-decoration-none"><span><%= answer.user.name %></span></a>
        </div>
      </div>
    </p>
    
    <%= render answer.comments %>

    <hr class="mt-2">
    <a style="cursor: pointer" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#addCommentAnswer<%= answer.id %>"><%= I18n.t('others.button.add_a_comment') %></a>
    
    
    <div class="modal fade" id="addCommentAnswer<%= answer.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Commenter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="fw-bold mt-4 mb-2"><%= I18n.t('others.messages.your_comment') %></p>
              <%= form_with(model: [answer, answer.comments.build]) do |form| %>
                <div class="mb-3">
                  <%= form.text_area :content, rows:"3", class:"form-control", placeholder:"Ajoutez un commentaire" %>
                </div>
                <%= form.submit I18n.t('others.button.post_your_comment'), class:"btn btn-primary" %>
              <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>