<p class="fw-bold mt-4 mb-2"><%= I18n.t('others.messages.your_answer') %></p>
<%= form_with(model: [@question, @question.answers.build]) do |form| %>
  <div id="emailHelp" class="form-text text-danger"><%= render "devise/shared/error_messages", resource: @answer %></div>
  <div class="mb-3">
    <%= form.label I18n.t('others.messages.choose_a_picture'), class:"form-label" %>
    <%= image_tag(@answer.picture.url, width: "100%", class:"mb-3") if @answer.picture && @answer.picture.url %>
    <%= form.file_field :picture, class:"form-control" %>
    <%= form.hidden_field :picture_cache %>
  </div>
  <div class="mb-3">
    <%= form.text_area :content, rows:"3", class:"form-control", placeholder:"Ecrivez votre réponse ici...", title:"Vous devez vous connecter ou vous enregistrer pour continuer." %>
    <div id="emailHelp" class="form-text text-danger"><%= "Vous devez vous connecter ou vous enregistrer pour continuer." unless current_user %></div>
  </div>
  <%= form.submit I18n.t('others.button.post_your_answer'), class:"btn btn-primary" if current_user %>
  <%= form.submit I18n.t('others.button.post_your_answer'), class:"btn btn-primary disabled" unless current_user %>
<% end %>
